<section class="container">
	<h1>Rendez Vous</h1>
	client : <select id="medecins" data-style="btn btn-primary"
		selectpicker ng-model="selectedClient">
		<option ng-repeat="client in clients" value="{{client.id}}">{{client.nom}} - {{client.prenom}}</option>
	</select> 
	
	
	
	Medecin : 
	
	
	<select  class="selectpicker" select-enable=""
		 ng-model="selectedMedecin"
		ng-click="showSelctedMedecin()">
		<option ng-repeat="m in medecins" value="{{m.id}}">{{m.nom}} {{m.prenom}}</option>
	</select> 
	
	
	
	
	
	<select selectpicker class="selectpicker">
		<option value="">Select one</option>
		<option>Mustard</option>
		<option>Ketchup</option>
		<option>Relish</option>
	</select>

	<script>
	 $('.selectpicker').selectpicker();
	</script>

</section>