<section class="navbar">
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand">RdvMedecins</a>
		</div>

		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a ui-sref="home"> <span>Accueil</span>
				</a></li>
				<li><a ui-sref="client"><span>Patient</span>
				</a></li>
				<li><a ui-sref="medecin"> <span>Medecin</span>
				</a></li>
				<li><a ui-sref="rv"> <span>Rendez Vous</span>
				</a></li>
			</ul>

			<form class="navbar-form navbar-right">
				
				<button class="btn btn-success">Deconnexion</button>
				<!-- langues -->
				<div class="btn-group">
					<button type="button" class="btn btn-danger">Langues</button>
					<button type="button" class="btn btn-danger dropdown-toggle"
						data-toggle="dropdown">
						<span class="caret"></span> <span class="sr-only">Toggle
							Dropdown</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="">Français</a></li>
						<li><a href="">English</a></li>
					</ul>
				</div>
			</form>
		</div>
	</div>
</section>